
@media (prefers-reduced-motion: no-preference) {
  #spinner {
    animation: film-spinner infinite 10s linear;
  }
}

@keyframes film-spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.unstyledList{
  list-style-type: none;
}
